.btn {
    background: $red;
    color: white !important;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 25px 0 20px;
    line-height: 40px;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &::after {
        content:'';
        position: absolute;
        top: 50%;
        right: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        height: 5px;
        width: 5px;
        transform: rotate(45deg) translate(0, -50%);
        transition: all 160ms ease-in-out;
    }

    &:hover {
        &::after {
            right: 12px;
        }
    }

    &--grey {
        background: $dark-grey;

        &:hover {
            background: darken($dark-grey, 10%) !important;
        }
    }

    &--blue {
        background: $blue;

        &:hover {
            background: darken($blue, 10%) !important;
        }
    }

    &--orange {
        background: $orange;

        &:hover {
            background: darken($orange, 10%) !important;
        }
    }

    &:hover {
        background: darken($red, 10%);
    }
}

