$font: 'PT Sans', sans-serif;

.heading {
	margin: 0 0 30px 0;
	padding: 0;
	font-family: $font;
	font-weight: 700;
	font-size: 52px;
	line-height: 120%;
	
	&--xlarge { font-size: 52px !important; }
	&--large { font-size: 42px; }
	&--medium { font-size: 28px; }
	&--small { font-size: 22px; }
	&--xsmall { font-size: 18px; }
	
    &--white { color: white; }


	> .highlight { 
		font-style: normal; 
		color: $orange;
	}
}

body {
    font-family: $font;
}




.content {
	font-size: 16px;
	line-height: 160%;
	color: $purple;
	
	// Large content
	&--large { font-size: 20px; }
	
	
	h2, h3, h4, h5, h6 {
		@extend .heading;
		margin: 0;
		color: $orange !important; 
	}
	
	h2 { @extend .heading--large; }
	h3 { @extend .heading--medium; }
	
	h4, 
	h5, 
	h6 { @extend .heading--small;  }
	
	
	
	h2 + p, 
	h3 + p, 
	h4 + p { margin-top: 10px; }
	
	h2 { font-size: 28px; }
	h3, h4 { color: $blue; }
	h5, h6 { font-size: inherit; color: $purple; }
	
	
	p {
		margin: 1em 0;
		line-height: 140%;
		
		a {
			color: $purple;
		}
	}

	.main_text {
		text-align: center;
		font-size: 22px;
		color: $dark-grey;
		line-height: 160%;
		padding: 0 80px;
	}
	
	
	h2, h3, h4, h5, h6 {
		&.heading--xlarge { @extend .heading; @extend .heading--xlarge; }
		&.heading--large { @extend .heading; @extend .heading--large; }
		&.heading--medium { @extend .heading; @extend .heading--medium; }
		&.heading--small {@extend .heading; @extend .heading--small;  }
	}
	
	iframe, img, video {
		max-width: 100%;
		display: block;
	}
	
	iframe, video {
		height: 56,25%;
	}
	
	img {
		height: auto;
	}
	
	
	blockquote {
		display: block;
		position: relative;
		margin: 1em 0;
		padding: 5px 0 5px 20px;
		border-left: solid 5px darken($purple, 4%);
		font-style: italic;
		
		p {
			margin: 0;
		}
	}
	
}