html {
    font-size: 17px;
}

$font: 'Open Sans', sans-serif;
$font-heading: 'Montserrat', sans-serif; 

body {
    font-family: $font;
    font-size: 100%;
    font-weight: 300;
    line-height: 190%;
    color: $dark-grey;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    font-family: $font-heading;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    font-family: $font-heading; 
}