.mailchimp {
    form {
        padding: 0 !important;
        margin-top: 20px;
    }

    .mc_embed_signup_scroll {
        position: relative;
    }

    .mc-field-group {
        width: 100%;
        position: relative;
    }

    .email {
        border: 2px solid $grey;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
    }

    .name {
        border: 2px solid $grey;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 5px;
    }

    .response {
        padding-left: 10px;
        margin-top: 3px;
    }

    &__button {
        background: $red url(../img/send.svg) center center no-repeat;
        background-size: 60% auto;
        position: absolute;
        border: none;
        right: 5px;
        display: block;
        top: 55px;
        height: 31px !important;
        width: 31px !important;
        border-radius: 50%;
        display: block;
        margin: 0 !important;
    }
}


    
.gform_wrapper {
    .screen-reader-text {
        display: none;
    }

    ul {
        padding: 0;
    }

    .gfield_price {
        .gfield_label {
            position: relative;
        }
    }
    
    li {
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-right: 0;
    
        .gfield_label {
        color: $red; 
        font-size: 12px;
        left: 14px;
        position: absolute;
        top: 3px;
        }
    
        input {
        background: $lightgrey;
        border: 0;
        border-radius: 5px;
        font-family: $font;
        padding: 28px 14px 10px !important;
        width: 100% !important;
    
            &::placeholder {
                color: lighten($blue, 30%);
            }
        }

        .charleft {
            padding-left: 14px;
            font-size: 0.8rem;
            font-style: italic;
        }
    
        textarea {
        background: $lightgrey;
        border: 0;
        border-radius: 5px;
        font-family: $font;
        padding: 28px 14px 10px;
        width: 100%;
    
        &::placeholder {
            color: lighten($grey, 10%);
        }
        }
    
        .gfield_checkbox {
        margin-top: 30px;
    
        li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 10px;
        }
    
        input[type='checkbox'] {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 20px !important;
        }
    
        label {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 25px);
        }
        }
    
        .gfield_radio {
        margin-top: 30px;
    
        li {
            margin-bottom: 5px;
            position: relative;
            padding-left: 8px;
        }
    
        input[type='radio'] {
            display: inline-block;
            position: relative;
            top: 1px;
            width: 25px !important;
        }
    
        label {
            display: inline-block;
        }

        li:last-child {
            input[type='text'] {
                width: 50% !important;
                padding: 14px 10px !important;
            }
        }
        }
    
        .ginput_container_select {
    
        background: $lightgrey;
        border-radius: 5px;
    
        select {
            background: $lightgrey;
            border: 0;
            font-family: $font;
            font-size: 0.9rem;
            margin: 30px 14px 0 9px;
            width: calc(100% - 20px);
    
            option {
            padding: 10px;
            }
        }
        }

        .ginput_container_singleproduct {
            .ginput_product_price_label {
                padding-left: 12px;
            }

            input {
                padding: 14px 10px !important;
            }
        }

        .ginput_container_total {
            .ginput_total {
                margin-top: 30px;
                padding-left: 14px;
            }
        }
    
    }
    
    .gform_button {
        background: $red;
        border: 0;
        color: #fff;
        font-family: $font;
        font-size: 1.2rem;
        padding: 6px 20px;
        position: relative;
    }
    
    .gform_footer {
        display: block;
        float: right;
        margin-bottom: 30px;
        position: relative;
    }
    
    .gform_validation_container {
    display: none !important;
    }
    
}

.ui-datepicker {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 20px;
    
    a {
        color: #000;
    }
    
    td {
        width: 30px;
    }
    
    .ui-datepicker-next {
        float: right;
    }
    
    .ui-datepicker-month,
    .ui-datepicker-year {
        width: 50%;
    }
    }


