body.fade {
    overflow: hidden;

    &::after {
        content:'';
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.8;
        z-index: 40;
        transition: all 200ms ease-in-out;
    }
}

.modal {
    display: none;
    width: 50%;
    height: auto;
    max-height: 90vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 80px 50px;
    z-index: 999;
    overflow-y: auto;

    @media #{$touch} {
        width: 70%;
    }

    @media #{$mobile} {
        width: 90%;
    }

    ul {
        padding-left: 1rem;
    }

    .text a {
        color: $dark-grey;
    }

    .close-icon {
        color: red;
        font-size: 40px;
        text-decoration: none;
        font-weight: 700;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .text__price {
        display: block;
        width: 100%;
        margin-top: 30px;

        span {
            display: inline-block;
            font-size: 600;
        }
    }

    .terms {
        font-size: 0.9rem;
        margin-top: 20px;
        font-style: italic;

        a {
            text-decoration: underline !important;
        }
    }

    .btn {
        display: inline-block;
        margin-left: 20px;
        color: #fff !important;
    }



}

.card__archive.is--active {
    .modal {
        display: block;
    }
}