.page-row {
	width: 100%;
	position: relative;
	z-index: 20;
	
	&[data-background="white"] { background: white; }
	&[data-background="transparent"] { background: transparent; }

	&--header-img {

		.header-image {
			&--home {
				height: 890px;
			}
		}

		.header-content {
			position: absolute;
			top: 160px;
			right: 200px;
			background: white;
			width: 60%;
			max-width: 600px;
			padding-bottom: 170px;
			box-shadow: 0 0 6px rgba(0,0,0,0.26);
			z-index: 999;

			.header-textimage {
				height: 400px;
			}

			.home_text {
				padding: 0 70px;
				font-size: 18px;
				color: $purple;
			}
		}
	}

	&--content-fullwidth {
		padding-top: 170px;

		.heading {
			text-align: center;
		}

	}

	&--icons {
		display: flex;
		flex-wrap: wrap;
		.heading {
			text-align: center;
			color: $green !important;
		}

		.icon {
			flex: 1;
			position: relative;
			margin-bottom: 30px;

			&__title {
				position: absolute;
				top: 0;
				width: 100%;
				text-align: center;
				color: $green;
			}
		}

	}

	&--columns {
		.column {
			width: 47%;
			color: $dark-grey;

			h2 {
				color: $turcois !important;
			}

			h3 {
				color: $dark-grey !important;
				font-size: 24px;
				font-weight: normal;
			}

			&:nth-child(1) {
				float: left;
			}

			&:nth-child(2) {
				float: right;
			}
		}

		.faq {
			padding-left: 0;
			margin: 0;

			li {
				list-style: none;
				
			}

			&__title {
				font-size: 22px;
				position: relative;
				padding: 20px 0 20px 60px;
				border-bottom: 1px solid $grey;
				cursor: pointer;
				color: $dark-grey;

				&::before {
					content: '';
					position: absolute;
					top: 20px;
					left: 20px;
					border: 2px solid $dark-grey;
					border-radius: 50%;
					height: 20px;
					width: 20px;
					text-align: center;
					vertical-align: middle;
				}

				&::after {
					content: '+';
					position: absolute;
					top: 20px;
					left: 22px;
					height: 20px;
					width: 20px;
					text-align: center;
				}
			}

			&__content {
				visibility: hidden;
				max-height: 0;
				transition: max-height 160ms ease-in-out;
				color: $dark-grey;
			}

			&.is--active {
				background: white;
				box-shadow: 0 0 3px rgba(0,0,0,0.2);
				
				.faq__content {
					height: auto;
					max-height: 400px;
					visibility: visible;
					padding: 20px 30px 20px 60px;
				}

				.faq__title {
					color: $turcois;
					border-bottom: none;

					&::before {
						border: 2px solid $turcois;
					}

					&::after {
						content: '-';
					}
				}
			}
		}
	}

}