.agenda {
    width: 100%;
    display: block;
    margin-top: 30px;
    
    @media #{$desktopsmall} {
        overflow-x: scroll;
    }

    &__row {
        width: 100%;
        padding: 10px;
        display: block;
        @include clearfix;

        @media #{$desktopsmall} {
            width: 700px;
        }

    }

    &__row:nth-child(even) {
        background: $lightgrey;
    }

    &__column {
        width: 20%;
        display: block;
        list-style: none;
        float: left;
        line-height: 1.2rem;

        &--title {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
