@mixin clearfix() {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
  }

@mixin box-shadow {
    box-shadow: 0 1px 4px $shadow;
}

@mixin center-x-y {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin center-y {
    top: 50%;
    transform: translateY(-50%);
  }
  
  @mixin center-x {
    left: 50%;
    transform: translateX(-50%);
  }