// COLORS

$beige: #fbf2e5;
$light-grey: #fefefe;
$grey: #f8f8f8;
$dark-grey: #333333;
$orange: #d18100;
$purple: #47004d;
$blue: #0bbbef;
$turcois:#1ba1a1;
$green:#6aa220;
$shadow: rgba(0,0,0,0.1);

$red: #800224;


body {
    min-height: 1000px;
    height: auto;
}

