// COLORS

$red: #F15C66;
$blue: #6BCDEC;
$green: #AAD07F;
$purple: #B167AA;
$yellow: #F7D278;
$orange: #F4A36C;
$lightgrey: #f7f7f7;
$grey: #bdbdbd;
$dark-grey: #707171;


body {
    min-height: 1000px;
    height: auto;
}

