.site-footer {
    margin-top: 60px;

    .container {
        border-top: 2px solid $lightgrey;
        padding-top: 30px;
    }

    &__column {
        width: 25%;
        float: left;
        padding-right: 20px;

        a {
            color: $dark-grey;
            text-decoration: none;
        }

        p {
            margin: 0;
        }

        li {
            list-style: none;
        }

        .column-title {
            text-transform: uppercase;
            font-weight: 700;
        }

        &--menu {
            a {
                text-transform: uppercase;
                font-weight: 700;
                transition: all 160ms ease-in-out;

                &:hover {
                    padding-left: 10px;
                }
            }
        }
    }

    .sub-footer {
        margin-top: 30px;
        text-align: center;
        border-top: none;
        padding-bottom: 30px;
    }
}