.site-footer {
    background: white;
    margin-top: 60px;
    position: relative;
    z-index: 2;

    .container {
        border-top: 2px solid $lightgrey;
        padding-top: 30px;

        @media #{$touch} {
            padding: 0;
        }
    }

    &__column {
        float: left;
        padding-right: 20px;

        @media #{$touch} {
            width: 50%;

            &--text {
                float: left;
            }

            &--contact {
                float: right;

            }

            &--menu {
                float: left;
                clear: both;
                margin-top: 30px;
            }

            &--newsletter {
                margin-top: 30px;
            }
        }

        a {
            color: $dark-grey;
            text-decoration: none;
        }

        p {
            margin: 0;
        }

        li {
            list-style: none;
        }

        .column-title {
            text-transform: uppercase;
            font-weight: 700;
        }

        &--text {
            padding-right: 30px;
            width: 35%;
        }

        &--contact {
            width: 22%;
        }

        &--menu {
            width: 18%;
            a {
                text-transform: uppercase;
                font-weight: 700;
                transition: all 160ms ease-in-out;

                &:hover {
                    padding-left: 10px;
                }
            }
        }

        &--newsletter {
            width: 25%;
        }


    }

    .sub-footer {
        margin-top: 30px;
        text-align: center;
        border-top: none;
        padding-bottom: 30px;

        ul {
            display: inline-block;
        }

        li {
            display: inline-block;
            list-style: none;
            border-left: 1px solid $dark-grey;
            margin-left: 10px;
            padding-left: 10px;

            a {
                text-decoration: none;
                color: $dark-grey;

                &:hover {
                    color: $red;
                }
            }
        }
    }
}