.header {
    height: auto;

    &__brand {
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
        display: block;
        float: left;
        background: url(../img/NDY-logo.svg) 0 0 no-repeat;
		background-size: contain;
		z-index: 30;
        transition: all 160ms ease-in-out;
        
        span {
            display: none;
        }
    }
}