.header {

    position: relative;
    margin-bottom: 30px;

    &:after {
        content: '';
        background: $lightgrey;
        height: 2px;
        width: calc(100% - 300px);
        right: 0;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .container {
        height: 120px;
    }

    &__brand {
        position: fixed;
        width: 270px;
        height: 270px;
        display: block;
        left: -65px;
        top: -65px;
        transition: all 160ms ease-in-out;

        img {
            z-index: -1;
        }


        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 220px;
        //     height: 220px;
        //     background: white;
        //     top: -20px;
        //     left: -20px;
        //     display: block;
        //     border-radius: 50%;
        //     z-index: -1;
        // }
        
        span {
            display: none;
        }
    }
}

.wpml-ls-legacy-list-horizontal {
    clear: none;
    padding: 0;
    float: right;
    margin-top: -3px;
}

.language {

    @media #{$mobile} {
        visibility: hidden;
    }

    &.is--active {
        color: #fff;
        display: block;
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all 120ms ease-in-out 200ms;
        visibility: visible;
        z-index: 9999999;

        a {
            color: #fff !important;
        }
    }
}