.home {
    h1 {
        color: white !important;
    }
}

.column__1-2:nth-child(odd) {
    padding-right: 10px;

    @media #{$touch} {
        width: 100%;
        padding: 0;
    }
}

.column__1-2:nth-child(even) {
    padding-left: 10px;

    @media #{$touch} {
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
}

.home {

    .schedule {
        background: white;
       padding: 0 20px;

       @media #{$touch} {
           padding: 0;
           overflow-x: scroll;
       }

        &__title {
            color: $blue;
            margin-top: -10px;
            font-weight: 700;

            @media #{$touch} {
                margin-top: 40px;
            }
        }
    }

    .btn {
        display: inline-block;
    }

    .agenda {
        a {
            color: $dark-grey;
        }

        @media #{$mobile} {
            width: 600px;
        }
    }

    &__image {
        height: 500px;
        width: 100%;
        display: block;
        box-shadow: 1px 6px 10px rgba(0,0,0,.2);
        position: relative;

        &::after {
            content: '';
            background: #000;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.3;
        }
    }

    &__text {
        position: absolute;
        z-index: 2;
        @include center-x-y;
        width: 70%;

        h1 {
            color: white;
        }

        p {
            color: white;
        }

        .btn {
            float: right;
        }
    }


}

.featured {

    margin-top: 30px;
    position: relative;

    &__image {
        height: 500px;
        width: 100%;
        display: block;
        box-shadow: 1px 6px 10px rgba(0,0,0,.2);

        &::after {
            content: '';
            background: #000;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.3;
        }
    }

    &__text {
        position: absolute;
        z-index: 2;
        @include center-x-y;
        width: 70%;

        h1 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .btn {
        float: right;
    }
}

.container__full--extra {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.extra-image {
    height: auto;
    flex: 1;

    @media #{$touch} {
        display: none;
    }
}

.slider {
    background: $lightgrey;
    margin-left: 20px;
    width: calc(50% - 20px);
    height: auto;
    overflow: hidden;

    @media #{$touch} {
        margin-left: 0;
    }

    .slick-dots {
        position: absolute;
        top: 6px;
        right: 10px;

        li {
            list-style: none;
            height: 6px;
            float: left;
            margin-left: 5px;

            button {
                background: $dark-grey;
                width: 20px;
                height: 8px;
                border: 0;
                text-indent: -99999px;
                opacity: 0.3;
            } 

            &.slick-active {
                button {
                    opacity: 0.6;
                }
            }
        }
    }
}

.sign-up {
    position: relative;
    height: auto;
    width: 100%;
    flex: 1;
    padding: 50px 20px;

    @media #{$touch} {
        padding: 50px;
    }
 
    .btn--grey {
        margin-left: 10px;
    }

}

.usp {
    padding: 30px 20px;

    li {
        list-style: none;
        font-size: 0.9rem;
        font-weight: 700;
        padding-left: 20px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 6px;
            left: 0;
            height: 10px;
            width: 6px;
            border-top: 2px solid $dark-grey;
            border-left: 2px solid $dark-grey;
            transform: rotate(-135deg);
        }
    }
}
