.column__1-2:nth-child(odd) {
    padding-right: 10px;
}

.column__1-2:nth-child(even) {
    padding-left: 10px;
}

.home {

    .schedule {
       padding: 0 20px;

        &__title {
            margin-top: -10px;
            font-weight: 700;
        }
    }

    .btn {
        display: inline-block;
    }

    .agenda {
        a {
            color: $dark-grey;
        }
    }

    &__image {
        height: 500px;
        width: 100%;
        display: block;
    }

    &__text {
        position: absolute;
        z-index: 2;
        @include center-x-y;
        width: 70%;

        h1 {
            color: white;
        }

        p {
            color: white;
        }

        .btn {
            float: right;
        }
    }


}

.featured {

    margin-top: 30px;
    position: relative;

    &__image {
        height: 500px;
        width: 100%;
        display: block;
    }

    &__text {
        position: absolute;
        z-index: 2;
        @include center-x-y;
        width: 70%;

        h1 {
            color: white;
        }

        p {
            color: white;
        }
    }

    .btn {
        float: right;
    }
}

.container__full--extra {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.extra-image {
    height: auto;
    flex: 1;
}

.sign-up {
    position: relative;
    height: auto;
    margin-left: 20px;
    background: $lightgrey;
    width: calc(50% - 20px);
    flex: 1;

    &__text {
        padding: 50px 20px;
    }

    .btn--grey {
        margin-left: 10px;
    }

}
