.single-docent {
    .agenda__row {

        .agenda__column {
            width: 25%;
        }

        .teacher {
            display: none;
        }
    }

}

.single-stijlen {
    .agenda__row {

        .agenda__column {
            width: 25%;
        }

        .stijl {
            display: none;
        }
    }

}