//SINGLE

.single,
.page {
    .container {

        &__image {
            height: 600px;
            width: 70%;
        }

        &__content {
            width: 700px;
            position: relative;
            float: right;
            margin-top: -400px;
            background: white;
            padding: 30px;
            @include box-shadow-cards;

            a {
                color: $dark-grey;
            }

            h1 {
                font-size: 2rem;
            }
        }
    }
}

.single-docent {

    .agenda__row {

        @media #{$mobile} {
            width: 600px;
        }

        .agenda__column {
            width: 25%;
        }

        .teacher {
            display: none;
        }
    }

}

.single-stijlen {

    h1 {
        color: $green;
    }

    .agenda__row {

        @media #{$mobile} {
            width: 600px;
        }

        .agenda__column {
            width: 25%;
        }

        .stijl {
            display: none;
        }
    }
}

.single-agenda {

    h1 {
        color: $blue;
    }

    .container {

        &__image {
            display: block;
            height: 500px;
        }

        &__content {
            width: 80%;
            position: relative;
            float: right;
            margin-top: -200px;
            background: white;
            padding: 30px;
            @include box-shadow-cards;

            @media #{$mobile} {
                .agenda__row {
                    width: 600px;
                }
            }
        }
    }
}

// PAGE 
.page {
    h1 {
        color: $red;
    }
}

// ARCHIVE 
.archive {

    .container {
        @media #{$touch} {
            padding: 0 20px;
        }
    }

    .content {
        @include clearfix;
        width: 103%;
        margin: 0 -1.5%;

        &__flex {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .card {
       float: left;
       overflow: hidden;
       width: 30.3333%;
       margin: 0 1.5%;
       background: white;
       box-shadow: 1px 6px 10px rgba(0,0,0,0.2);
       margin-bottom: 30px;

       a {
           text-decoration: none;
       }

       &__image {
           height: 400px;
       }

       &__text {
           padding: 25px;
           position: relative;

           a {
               color: $dark-grey;
           }
       }

       &__title {
           font-size: 20px;
           line-height: 20px;
           text-transform: uppercase;
           font-weight: 600;
           color: $dark-grey;
       }

       &__subtitle {
           position: absolute;
           bottom: 5px;
           font-size: 0.9rem;
           left: 25px;
       }

       &__btn {
           float: right;
           color: #fff !important;
       }

       &__archive {

           .price {
               display: block;
               width: 100%;
               z-index: 100;
               color: white;
               font-size: 40px;
               font-weight: 700;
               position: relative;
               top: 50%;
               text-align: center;
               transform: translate(0, -50%);
               z-index: 3;

               &::after {
                   content: '';
                   background: $red;
                   width: 160px;
                   height: 160px;
                   display: block;
                   border-radius: 50%;
                   position: absolute;
                   left: 50%;
                   transform: translate(-50%, -50%);
                   top: 50%;
                   z-index: -1;
                   opacity: 0.6;
               }
           }
       }
    }
}

// PAGE BEDRIJFSYOGA 
.page-template-page-bedrijfsyoga {

    .container {
        @media #{$touch} {
            background: white;
            padding-top: 10px;
        }
    }

    .title {

        h1 {
            color: $orange;
        }
        
        h2 {
            font-size: 1.3rem;
            color: $dark-grey;
        }
    }

    h2 {
        color: $orange;
        line-height: 100%;
    }

    .box--small {
        width: 700px;
        margin: 0 auto 50px auto;

        @media #{$mobile} {
            width: 100%;
        }
    }

    .selling-points {
        background: $orange;
        display: flex;
        flex-wrap: 1;
        margin-bottom: 50px;

        @media #{$mobile} {
            display: block;
        }
        
        .left {
            flex: 1 0 50%;

            @media #{$mobile} {
                display: none;
            }
        }

        .right {
            flex: 1 0 50%;
            padding: 50px 30px;
            color: #fff;

            @media #{$mobile} {
                flex: 1 0 100%;
            }

            h2 {
                color: #fff;
            }

            li {
                list-style: none;
                margin-bottom: 10px;
                line-height: 140%;
            }
        }
    }

    .benefits {
        background: $lightgrey;
        display: flex;
        flex-wrap: 1;
        margin-bottom: 50px;

        @media #{$mobile} {
            display: block;
        }
        
        .right {
            flex: 1 0 50%;
            padding: 30px;

            
            @media #{$mobile} {
                padding: 0;
                margin-bottom: 30px;
                height: 520px;
            }

            img {
                width: 100%;
                display: block;
                float: right;
            }
        }

        .left {
            flex: 1 0 50%;
            padding: 50px 30px;

            h2 {
                color: $dark-grey;
            }

            li {
                list-style: none;
                margin-bottom: 10px;
                padding-bottom: 10px;
                line-height: 140%;
                border-bottom: 1px solid lighten($dark-grey,45%);

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .themes {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       margin: 0 -1.5%;

        .theme {
            flex: 1 0 30.333%;
            overflow: hidden;
            background: white;
            margin: 0 1.5%;
            box-shadow: 1px 6px 10px rgba(0,0,0,0.2);
            position: relative;

            @media #{$touch} {
                flex: 1 0 100%;
                margin-bottom: 30px;
            }

            .title {
                background: $red;
                color: white;
                font-size: 1.2rem;
                padding: 20px;
                margin: 0;
            }

            .subtitle {
                padding: 10px 20px;
                margin: 0;
            }

            .content {
                margin-bottom: 150px;
                padding: 0 20px;
                font-size: 0.9rem;
                line-height: 170%;

                 p {
                     margin: 0;
                 }
            }

            .image {
                position: absolute;
                bottom: 0;
                left: 0;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .btn {
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }
}